<h1>このサイトについて</h1>
	<h2>開発目的と用途</h2>
		<h4>開発目的</h4>
			<ol>
				<li>Railsによる開発を通じたスキルアップ</li>
				<li>ポートフォリオになるプロダクトの作成</li>
			</ol>
		<h4>用途</h4>
			<ol>
				<li>個人または少人数グループでの利用を想定</li>
				<li>個人でのタスク管理</li>
				<li>グループ内でのお互いのスケジュールやタスク管理の周知</li>
			</ol>

